@import './css/reset.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
  background-color: #393e5b;
  min-width: 380px;
}

.hide{
  visibility: none;
}

.landingPage__container{
  height: 840px;
  margin: var(--spacerSmall);
}

.landingpage__title{
  width: 80%;
  margin-right: 2rem;
}

.landingPage__title-image{
  max-width: 100%;
  width: 80%;
  height: auto;
  position: inherit;

  margin-right: -5rem;

  overflow: hidden;
}

.navigation__history{
  color: cyan;
}


.characteristics__gif{
  width: 360px;
  height: auto;
  overflow: hidden;
}
