@import 'css/reset.css';

:root {
    --colorLightest: white;
    --colorText: #211f1f;
    --colorMain: #f9d2cb;
    --colorSecondary: #a3f4dc;
    --colorGray: #fafafa;
    --colorGrayDark: #9c9c9c;
    --spacerSmall: .50rem; /* 12px */
    --spacerRegular: 1rem; /* 16px */
    --spacerBig: 1.88rem; /* 30px */
    --fontSmall: .75rem; /* 12px */
    --fontRegular: 1.13rem; /* 18px */
    --fontMedium: 1.25rem; /* 20px */
    --fontBig: 1.75rem; /* 28px */
    --font: 'Roboto', sans-serif;
    --fontWeightRegular: 400;
    --fontWeightBold: 500;
  }

html {
    box-sizing: border-box;
    overflow: visible;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
  }
  
  /* stylelint-disable */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  /* stylelint-enable */
  
  body {
    font-family: var(--font);
    min-width: 380px;
    background-image: url("assets/img/paperBackground.png");
    background-repeat: repeat-y;
    background-size: cover
  }

  @media only screen and (max-width: 560px) {
    body{
      text-align: center;
    }
  
  }

  

  .landingPage__container{
    height: auto;
    margin: var(--spacerSmall);
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  .containerr {
    height: 5vh;
    max-width: 97%;
    width: 95%;
    margin: auto;
    border-bottom: 0.2rem solid black;
  }
  
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: fixed;
  }
  
  .navbar .menu-items {
    display: flex;
    background-color: rgb(255, 255, 255);
    background-image: url("assets/img/hamburgerBackground.png");
    opacity: 0.80;
  }
  
  .navbar .nav-container li {
    list-style: none;
    padding: 10vw;
    padding: 1vw;
    background-color:rgb(255, 255, 255);
    width: max-content;
    margin: 0 auto;
    }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #ff0000;
    /* -webkit-text-stroke: 0.5vw rgb(255, 255, 255); */
    
    font-weight: 1000;
    font-size: 7vw;
    
    padding: 1rem;

    
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }

  .menu-items li:hover{
    color: rgb(122, 0, 0);
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 4.5rem;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    top: 1.5rem;
    left: 0.6rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 1.5rem;
    left: 0.6rem  ;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 5rem;
    height: 100vh;
    width: 90%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    /* padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .landingPage__slantedLogo {
    position: absolute;
    top: 10px;
    right: 0.5rem;
    width: 3rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    transition: all 0.5s ease;
    background: red;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    background: red;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    color: red;
  }


  .landingPage__container{
    text-align: center;
    max-height: 95vh ;
  }


  .landingpage__title{
    width: 4rem;
    max-width: 30rem;
    text-align: center;
  }

  .landingPage__title-image{
    width: 95%;
    max-width: 30rem;
    height: auto;

    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .landingPage__R{
    display: none;
  }

  .landingPage__arrow{
    width: 4rem;
    height: 2rem;
    margin-top: 20vh;
    
  }

   body p {
    margin: 0.5rem;
  }

  .characteristics__container{
    text-align: start;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .characteristics__gif{
    margin-top: 10vh;
    width: 95%;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .characteristics__title{
    font-family: clarendon-urw,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
  }

  .characteristics__paragraph{
    margin: 1rem;
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem; 
  }

  p{
    font-family: clarendon-urw,serif;
    font-weight: 300;
    font-style: normal;
  }

  /*  */

  .history__container{
    background-image: url("assets/img/lettersBackgroundMobile.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 110vw auto;
    
    
/*     height: 250vh; */
    height: auto;
    padding-bottom: 9vw;
    border-bottom: red 1rem;
    text-align: left;
    padding-top: 8.5vw;
  }

  .clarendonQuest__container{
    height: 100vh;
    text-align: center;
  }
  
  .clarendonQuest__title{
    width: 100vw;
    margin: 0 auto;
    border-top: solid red 0.2rem;
    
  }

  .clarendonQuest__M{
    display: none;
  }

  .clarendonQuest__paragraph{
    margin-top: 20vh;
    
    font-weight: 700;
    font-size: 5vw;
  }


  .clarendonQuest__title-image{
    
    width: 90%;
  }

  .clarendonQuest__findOut{
    font-size: 5vw;
    font-weight: 700;
    margin-top: 20vh;
    margin-bottom: 5%;
  }

  .clarendonQuest__arrow{
    width: 20vw;
  }

  .clarendonQuestStepOne__container{
    height: 100vh;
    text-align: center;
    margin-top: 10vh;
    
  }
  
  .clarendonQuestStepOne__title{
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    
  }
  
  .clarendonQuestStepOne__title-image{
    width: 95%;
    max-width: 12rem;
    text-align: center;
    margin: 0 auto;
    padding-right: 5% ;
  }

  .clarendonQuestStepOne__paragraph{
    font-size: 4vw;
    margin-top: 10vh;
    max-width: 30rem;
    margin: 10vw;
  }

  .clarendonQuestStepOne__form{
    font-size: 4vw;
    max-width: 80vw;
    margin: 8vw auto;
    margin-top: 5vh;
    border-radius: 5px;
    /* background-image: url("assets/img/hamburgerBackground.png"); */
    background-color: rgba(255, 255, 255, 0.171);
    border: 1vw red solid; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
    height: 40vh;
  }

  .formcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    text-align: left;
  }

  .formStyle{
    margin-left: 7vw;
  }

  .submitButton{
    border-radius: 1.3rem;
  	border: 1px solid #ff0000;
  	background-image: url("assets/img/hamburgerBackground.png");
  	color: #ff0000;
  	font-size: 0.7rem;
	  font-weight: bold;
/* 	  padding: 12px 45px;
 */	  letter-spacing: 1px;
    text-transform: uppercase;
	  transition: transform 80ms ease-in;


    height: 6vh;
    width: 20vw;
    margin: 0 auto;

  }

  .clarendonQuestStepOne__stickerpack{
    display: none;
  }


  






  .clarendonQuestStepTwo__container{
    height: 100vh;
    text-align: center;
    margin-top: 10vh;
    
  }
  
  .clarendonQuestStepTwo__title{
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    
  }
  
  .clarendonQuestStepTwo__title-image{
    width: 95%;
    max-width: 18rem;
    text-align: center;
    margin: 0 auto;
    padding-right: 5% ;

  }

  .clarendonQuestStepTwo__paragraph{
    font-size: 4vw;
    max-width: 30rem;
    margin: 10vw;
    margin-bottom: 5vh;
  }

  .clarendonQuestStepTwo__stickerImage{
    max-width: 80vw;
    margin: 8vw auto;
    margin-top: 5vh;
    
    height: 30vh;
  }

  /* .clarendonQuestStepTwo__stickerGif{
    max-width: 80vw;
    margin: 8vw auto;
    margin-top: 5vh;
    
    height: 30vh;
    
    
  } */

  .clarendonQuestStepThree__container{
    height: 100vh;
    text-align: center;
    margin-top: 10vh;
    
  }

  .clarendonQuestStepThree__title{
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    
  }
  
  .clarendonQuestStepThree__title-image{
    width: 95%;
    max-width: 14rem;
    text-align: center;
    margin: 0 auto;
    padding-right: 5% ;

  }

  .clarendonQuestStepThree__paragraph{
    /* font-size: 4vw;
    max-width: 30rem; */
    margin: 10vw;
    margin-bottom: 5vh;
  }

  .clarendonQuestStepThree__stickerImage{
    max-width: 90vw;
    margin: 2vw auto;
   
    
    height: auto;
  }

  

  @media only screen and (max-width: 500px){

    
  
    .history__container p{
      font-size: 4vw;
      padding: 3vw;
     /*  background-color: rgba(255, 255, 255, 0.685); */
      border-radius: 25px;
      border: red solid 0.5vw;
      
      backdrop-filter: blur(5px);
    }
    
    .history__title{
      font-weight: 800;
      font-family: clarendon;
      font-size: 7vw;
      margin: 0 auto;
      
      padding-bottom: 10vw;
  
    }
  
    .history__paragraphOne{
      margin-left: 34vw;
      margin-right: 4vw;
    }
  
    .history__paragraphTwo{
      margin-top: 35vw;
      margin-left: 4vw;
      margin-right: 4vw;
    }
  
    .history__paragraphThree{
      margin-top: 35vw;
      margin-left: 40vw;
      margin-right: 4vw;
    }
  
    .history__paragraphFour{
      margin-top: 75vw;
      margin-left: 5vw;
      margin-right: 45vw;
    }
  
    .history__paragraphFive{
      margin-top: 13vw;
      margin-left: 5vw;
      margin-right: 20vw;
    }

    
    
  }

  @media only screen and (max-width: 900px) and (min-width: 500px) {
  
    .history__container p{
      font-size: 3.2vw;
      padding: 3vw;
      margin-bottom: 10vh;
     /*  background-color: rgba(255, 255, 255, 0.685); */
     /*  border-radius: 25px;
      border: red solid 0.5vw;
      
      backdrop-filter: blur(5px); */
    }
    
    .history__title{
      font-weight: 800;
      font-family: clarendon;
      font-size: 7vw;
      margin: 0 auto;
      
      padding-bottom: 9vw;
  
    }
  
    .history__paragraphOne{
      margin-left: 45vw;
      margin-right: 2vw;
    }
  
    .history__paragraphTwo{
      margin-top: 46vw;
      margin-left: 5vw;
      margin-right: 4vw;
    }
  
    .history__paragraphThree{
      margin-top: 13vw;
      margin-left: 37vw;
      margin-right: 4vw;
    }
  
    .history__paragraphFour{
      margin-top: 17vw;
      margin-left: 32vw;
      margin-right: 4vw;
    }
  
    .history__paragraphFive{
      margin-top: 87vw;
      margin-left: 4vw;
      margin-right: 58vw;
    }

    

    .clarendonQuest__paragraph{
      margin: 0 auto;
      margin-top: 3vh;
      max-width: 30rem;
      font-weight: 700;
      font-size: 4vw; 
      font-size: 1.75rem;
    }
  
    
    
    .clarendonQuest__title-image{
      width: 90%;
      max-width: 35rem;
      margin: 0 auto;
    }
  
    .clarendonQuest__findOut{
      font-size: 1.75rem;
      font-weight: 700;
      margin-top: 17vh; 
      
    }
  
    .clarendonQuest__arrow{
      width: 10vw;
    }


    .clarendonQuestStepOne__paragraph{
      width: 80vw;
      max-width: 30rem; 
      margin: 0 auto;
      margin-top: 4vh;
      font-size: 1.6rem;
      
    }

    .clarendonQuestStepOne__form{
      max-width: 30rem;
      font-size: 1.3rem;
    }

    .clarendonQuestStepTwo__paragraph{
      width: 80vw;
      max-width: 30rem; 
      margin: 0 auto;
      margin-top: 4vh;
      font-size: 1.6rem;
      
    }

    .clarendonQuestStepThree__paragraph{
      width: 80vw;
      max-width: 30rem;
      margin: 0 auto;
      margin-top: 3vh;
      font-size: 1.5rem;

    }  
    
    .clarendonQuestStepThree__title-image{
      width: 90%;
      max-width: 16rem;
      margin: 0 auto;
    }

    .clarendonQuestStepThree__stickerImage{
      width: 80vw;
      max-width: 30rem; 
    }


    
  }

  @media only screen and (min-width:  500px){

    .submitButton{
      font-size: 1rem;
    }

    .landingpage__title{
      text-align: none;
      float: right;
    }

    .landingPage__title{
      max-width: 4  0rem;
    }

    .landingPage__title-image{
      width: 95%;
      max-width: 30rem;
      height: auto;

      
      margin-right: 0.5rem;
    }

    .landingPage__arrow{
      margin-top: 6rem;
      
    }

    .characteristics__container{
      text-align: left;
      margin-left: 5%;
      padding-bottom: 60vw;
      height: 100vh;
      padding-bottom: 20vh;

    }

    .characteristics__paragraph{
      text-align: left;
      margin-left: 5%;
      margin-left: 0rem;
    }

    .characteristics__gif{
      width: 90%;
    }

    .history__arrow{
      margin-top: 10vw;
    }
  }
  
    
  
    @media only screen and (min-width:  700px){
  
      .landingPage__container {
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 0rem;
      }

      .navbar{
        height: 8vh;
      }
      

      .landingPage__title{
        grid-area: 1 / 2 / 2 / 3;
        margin: 0 auto;
        margin-top: 0.2rem;
      }

      .landingPage__title-image{
        grid-area: 1 / 2 / 2 / 3;
        width: 60vw;
        max-width: 30rem;
      }

      .landingPage__arrow{
        grid-area: 2 / 2 / 3 / 3;;
        display: block;
        margin-left: 47%;
      }

      .landingPage__R{
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        max-width: 30rem;
        height: auto;
        width: 90%;
        margin-top: -20vh;
      }

      

      
      
    }

    

    @media only screen and (min-width:  900px){
      .landingPage__container{
        text-align: right;
      }

      .landingPage__R{
        max-width: 25rem;
        margin-left: 20%;
        margin-top: -50%;
      }

      .landingPage__title{
        align-self: flex-end;
       /*  margin-left: 50%; */
        width: 100%;
        max-width: 40rem;
        margin-right: 5vw;
      }

      .landingPage__title-image{
        align-self: flex-end;
        width: 90%;
        max-width: 40rem;
      }

      .history__container{
        background-image: url("assets/img/lettersBackgroundDesktop.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 130vw auto;
        padding-bottom: 30vw;
        height: auto;
        
        text-align: center;
      }


      .history__title{
        font-size: 2.5vw;
        font-weight: 800;
        font-family: clarendon;
        font-size: 7vw;
        margin: 0 auto;
        margin-top: -7rem;
        margin-left: 39%;
        padding-bottom: 5vw;
      }

      .history__container p{
        /* margin-left: 29vw;
        margin-right: 29vw; */
        font-size: 2vw;
      }

      .history__paragraphOne{
        margin-left: 29vw;
        margin-right: 29vw;
        padding-top: 6vw;
      }

      .history__paragraphTwo{
        margin-left: 29vw;
        margin-right: 29vw;
        padding-top: 2vw;
      }

      .history__paragraphThree{
        margin-left: 29vw;
        margin-right: 29vw;
        padding-top: 25vw;
        font-size: 3.2vw
      }

      .history__paragraphFour{
        padding-top: 46vw;

        margin-left: 15vw;
        margin-right: 17vw;

        text-align: left;

        /* margin-left: 5vw;
        margin-right: 5vw; */
      }

      .history__paragraphFive{
        padding-top: 30vw;

        margin-left: 42vw;
        margin-right: 40vw;

        
      }

      .clarendonQuest__container{
        text-align: left;
        height: 100vh; 
        margin: auto;

        display: grid; 
        grid-template-columns: 1.3fr 0.7fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "titleParagraph M";
      }

      .clarendonQuest__title{
        width:60vw;
        max-width: 40rem;
        height: fit-content;
        grid-area: 1 / 1 / 2 / 2;
        border-top: none;
      }

      .clarendonQuest__title-image{
        width: 100%;
      }

      .clarendonQuest__paragraph{
        margin: 0 auto;
        margin-top: 35vh;
        font-size: 1.5rem;
        width: auto;
        max-width: 30rem;
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
        
      }

      .clarendonQuest__findOut{
        margin: 0 auto;
        margin-top: 80vh;
        
        font-size: 3vw;
        grid-area: 1 / 1 / 2 / 2;
      } 

      .clarendonQuest__arrow{
        margin: 0 auto;
        margin-top: 85vh;

        grid-area: 1 / 1 / 2 / 2;
        width: 7vw;
      }

      .clarendonQuest__M{
        display: block;
        width: 45vh;
        margin-top: 9vh;
        margin-right: -0.1rem;
      }

      .clarendonQuestStepOne__container{
        height: 100vh;
        display: grid; 
        grid-template-columns: 0.9fr 1.1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "step img";
        text-align: left;
      }
      
      .clarendonQuestStepOne__title{
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
      }

      .clarendonQuestStepOne__title-image{
        margin-left: 8vw;
        max-width: 16rem;
      }
      
      .clarendonQuestStepOne__form{
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1.2rem;
        text-align: left;
        margin-top: 40vh;
        border-width: 0.2rem;
      }
      
      .clarendonQuestStepOne__paragraph{
        grid-area: 1 / 2 / 2 / 3;
        font-size: 1.5rem;
        margin: 5vh auto;
        margin-top: 5vh;
        padding-right: 5vw;

/*         margin-left: -10vw;
 */        width: 50vw;
        max-width: 50rem;

      }

      .clarendonQuestStepOne__stickerpack{
        display: block;
        grid-area: 1 / 2 / 2 / 3;

        width: 47vw;
        max-width: 35rem;
        
        margin-top: 30vh;
        margin-left: 5vh;
      }

      .clarendonQuestStepTwo__container{
        height: 100vh;
        display: grid; 
        grid-template-columns: 0.9fr 1.1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        
        margin-top: 10vw;
        text-align: left;
      }

      .clarendonQuestStepTwo__title{
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
      }

      .clarendonQuestStepTwo__title-image{
        margin-left: 8vw;
        max-width: 18rem;
      }

      /* .clarendonQuestStepTwo__stickerGif{
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1.2rem;
        text-align: left;
        margin-top: 40vh;
        border-width: 0.2rem;
      } */

      .clarendonQuestStepTwo__paragraph{
        grid-area: 1 / 2 / 2 / 3;
        font-size: 1.5rem;
        margin: 5vh auto;
        margin-top: 5vh;
        padding-right: 5vw;
        width: 50vw;
        max-width: 50rem;

      }

      .clarendonQuestStepTwo__stickerImage{
        display: block;
        grid-area: 1 / 2 / 2 / 3;

        width: 40vw;
        max-width: 35rem;
        height: auto;
        
        margin-top: 30vh;
        margin-left: -20vh;
        border: red 0.2rem;
      }

      .clarendonQuestStepThree__container{
        height: 100vh;
        display: grid; 
        grid-template-columns: 0.9fr 1.1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        
        margin-top: 10vw;
        text-align: left;
      }

      .clarendonQuestStepThree__title{
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
      }

      .clarendonQuestStepThree__title-image{
        margin-left: 8vw;
        max-width: 18rem;
      }

      .clarendonQuestStepThree__paragraph{
        grid-area: 1 / 2 / 2 / 3;
        font-size: 1.5rem;
        margin: 5vh auto;
        margin-top: 5vh;
        padding-right: 5vw;
        width: 50vw;
        max-width: 50rem;

      }

      .clarendonQuestStepThree__stickerImage{
        display: block;
        grid-area: 1 / 2 / 2 / 3;

        width: 40vw;
        max-width: 25rem;
        height: auto;
        
        margin-top: 30vh;
        margin-left: -20vh;
        border: red 0.2rem;
      }

    }

    /* @media only screen and (min-width:  1000px){
      .history__paragraphOne{
        padding-top: 16vw;
      }

      .history__paragraphTwo{
        padding-top: 3vw;
      }

      .history__paragraphThree{
        padding-top: 25vw;        
      }

      .history__paragraphFour{
        padding-top: 20vw;
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: 20vw;
        padding-right: 20vw;
      }
    } */

    @media only screen and (min-width: 950px){
      .clarendonQuest__container{
        text-align: left;
        height: 100vh; 
        margin: auto;

        display: grid; 
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "titleParagraph M";

          text-align: center;
      }

    }

    @media only screen and (min-width: 1100px){
    
      
      .clarendonQuest__M{
        align-self: center right;
        margin-left: 7vw;
        margin-top: 5vh;
        width: 27vw;
      }

      .clarendonQuest__container{
        text-align: left;
        height: 100vh; 
        margin: auto;

        display: grid; 
        grid-template-columns: 2.2fr 0.8fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "titleParagraph M";

          text-align: center;
      }


    }

    @media only screen and (min-width: 1200px){
    
      .clarendonQuestStepOne__title-image{
        width: 14rem;
        margin-left: 2vw;
      }

      .clarendonQuestStepOne__paragraph{
        grid-area: 1 / 1 / 2 / 2 ;
        margin-top: 30vh;
        margin-left: 8vw;
      }

      .clarendonQuestStepOne__form{
        margin-top: 50vh;
        width: 45vw;
        
      }

      .clarendonQuestStepTwo__title-image{
        width: 14rem;
        margin-left: 2vw;
      }

      .clarendonQuestStepTwo__paragraph{
        grid-area: 1 / 1 / 2 / 2 ;
        margin-top: 25vh;
        margin-left: 4vw;
      }

      /* .clarendonQuestStepTwo__stickerGif{
        margin-top: 40vh;
        width: 45vw;
        height: auto;
      }*/
      .clarendonQuestStepTwo__stickerImage{
        margin-top: 10vh;
       margin-left: 5vw;
        
        
      }

      .clarendonQuestStepThree__stickerImage{
        margin-top: 30vh;
        margin-left: -20vw;
        
        
      }


    }

    

    @media only screen and (min-width:  1300px){
        .characteristics__container{
          display: grid; 
          grid-template-columns: 0.4fr 1.6fr; 
          grid-template-rows: 1fr; 
          gap: 0px 0px; 
          grid-template-areas: 
            "titleParagraph gif";

          padding: 1rem;
          margin-top: 20vw;
          margin-left: 2rem;
           
        }

        .characteristics__title{
          grid-area: 1 / 1 / 2 / 2;
          margin-top: 2.3rem;
        
        }

        .characteristics__paragraph{
          grid-area: 1 / 1 / 2 / 2;
          margin-top: 7rem;
          width: 100%;
          padding: 0.5rem;
          font-size: 1.3rem;
        }
        .characteristics__gif{
          grid-area: 1 / 2 / 2 / 3;
        }

        /* .clarendonQuest__container{
          padding-right: 20vw;
        } */

        .clarendonQuest__title{
          margin: 0 auto;
          max-width: 45rem;
        }
        
        .clarendonQuest__paragraph{
          max-width: 45rem;
          font-size: 1.9rem;
          margin: 0 auto;
          margin-top: 42vh;
        }

        .clarendonQuest__findOut{
          margin-left: 21vw;
        }

        .clarendonQuest__arrow{
          margin-left: 27vw;
          margin-top: 87vh;
        }

        .clarendonQuestStepOne__stickerpack{
          width: 47vw;
          max-width: 50rem;
          
          margin-top: 1vh;
          align-content: right;
        }
        

        .clarendonQuestStepOne__paragraph{
          font-size: 3vh;
          margin-top: 30vh;
          margin-left: 4vw ;
        }

        .clarendonQuestStepTwo__paragraph{
          font-size: 3vh;
          margin-top: 30vh;
          margin-left: 4vw ;
        }

        .clarendonQuestStepTwo__title-image{
          max-width: 20rem;
          width: 18rem;
        }

        .clarendonQuestStepTwo__stickerImage{
          margin-top: 8vh;
          width: 40vw;
          
          
        }

        .clarendonQuestStepThree__stickerImage{
          margin-top: 2vh;
          width: 40vw;
          
          
        }

        /* .clarendonQuestStepTwo__stickerGif{
          max-width: 30rem;
          margin-left: 8vw;
        } */

        

    }

    @media only screen and (min-width:  1500px){
      .characteristics__container{
        display: grid; 
        grid-template-columns: 0.4fr 1.6fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "titleParagraph gif";

        padding: 2rem;
        margin: 0 auto;
        margin-top: 5rem;
         
      }

      .characteristics__title{
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 3rem;
        font-size: 2.7rem;
      }

      .characteristics__paragraph{
        margin-top: 7rem;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.7rem;
      }

      .history__paragraphFour{
        padding-top: 47vw
      }

      .clarendonQuestStepOne__stickerpack{
        margin-right: -10vw;
      }

      .clarendonQuestStepTwo__stickerImage{
        
        margin-left: 10vw;
      }
      .clarendonQuestStepThree__stickerImage{
        
        margin-left: 10vw;
      }
      
  }

  @media only screen and (min-width: 1700px) {

    .clarendonQuestStepOne__stickerpack{
      margin-left: 7vw;
    }

    .clarendonQuestStepOne__container{
      padding-left: 3vw;
      overflow: hidden;
    }
    .clarendonQuestStepTwo__container{
      padding-left: 3vw;
      overflow: hidden;
    }
    .clarendonQuestStepThree__container{
      padding-left: 3vw;
      overflow: hidden;
    }
  }

  @media only screen and (min-width: 1800px) {

    .clarendonQuestStepOne__stickerpack{
      margin-left: 10vw;
    }
  }
  
    
  .hide{
    display: none;
  }

  .formdiv{
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    font-size: 2.7vh;
    width: 80vw;
    max-width: 35rem;
  }
  